## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.class

## Eclipse
.project
.metadata
lib/**
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
# Package Files #
*.jar
*.war
*.ear

dist/**
